  * {
    border: none;
    border-radius: 0;
    font-family: Blex Mono Nerd Font;
    font-size: 15px;
  }

  window#waybar {
    background-color: #101419;
    color: #b6beca;
  }

  #window {
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 13px;
    transition: none;
  }

  #custom-power{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-right: 20px;
    margin-left: 5px;
    padding: 0px 9px;
    font-family: Blex Mono Nerd Font;
    color: #ac8a8b;
  }
   #custom-search{
    font-family: monospace;
    background-color: #161616;
    color: #a4b5b5;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 4px;
   }

  #custom-logo {
    color: #86AAEC;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Blex Mono Nerd Font;
    border-radius: 2px;
    padding-right: 0px;
    font-size: 17px;
  }


  #workspaces button {
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: #3b4b58;
    border-radius: 5px;
    font-size: 20px;
  }


  #custom-close {
    font-family: Blex Mono Nerd Font;
    font-size: 17px;
    padding-right: 6px
  }

  #custom-min {
    font-family: Blex Mono Nerd Font;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
  }

  #custom-max {
    font-family: Blex Mono Nerd Font;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 1px;
    font-weight: 900;
  }

  #workspaces button.focused {
    color: #8CAAEE;
    font-family: Blex Mono Nerd Font;
    border-bottom: none;
    font-size: 20px;
  }
  #workspaces button.active {
    color: #b6beca;
    font-family: Blex Mono Nerd Font;
    border-bottom: none;
    font-size: 20px;
  }
  #workspaces button.urgent {
    color: #f9929b;
    font-family: Blex Mono Nerd Font;
  }

#mpd {
  border-radius: 5px;
  padding-right: 4px
}

#mode,
#custom-updates,
#cpu,
#memory,
#temperature,
#custom-fans,
#idle_inhibitor,
#language,
#custom-spacer {
  background-color: #171b20;
  padding: 0 10px;
  font-family: Blex Mono Nerd Font;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#custom-power {
  font-size: 17px;
}

#custom-updates {
  background-color: #1e222a;
  padding: 0 10px;
  color: #8cc1ff;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

  #workspaces {
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 20px;
    transition: none;
    background: transparent;
  }

/* #custom-power { */
/*   background-color: #1e222a; */
/*   padding: 0 12px; */
/*   margin: 2px 4px 5px 4px; */
/*   border: 3px solid rgba(0, 0, 0, 0); */
/*   border-radius: 0px; */
/*   background-clip: padding-box; */
/* } */

#custom-arch {
  background-color: #13171b;
  color: #747a83;
  padding: 0 10px;
  font-size: 20px;
  margin: 2px 0px 5px 0px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  transition: none;
  padding-left: 6px;
  padding-right: 6px;
  font-family: Blex Mono Nerd Font;
  color: #3b4b58;
  font-weight: normal;
}

#workspaces button:hover {
  color: #61afef;
}

#workspaces button.focused {
  color: #dee1e6;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #e06c75;
}

#cpu {
  color: #61afef;
}

#memory {
  color: #c678dd;
}

#temperature {
  color: #d19a66;
}

#temperature.critical {
  background-color: #e06c75;
  color: #1e222a;
}

#custom-media {
  background-color: #171b20;
  color: #b6beca;
}

#custom-fans {
  color: #98c379;
}


#idle_inhibitor {
  color: #abb2bf;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #1e222a;
}

#language {
  color: #56b6c2;
}

#backlight {
  color: #a6adb9;
}

#battery {
  margin-top: 5px;
  margin-bottom: 4px;
  margin-right: 20px;
  margin-left: 0px;
  padding: 0px 9px;
  font-family: Blex Mono Nerd Font;
  color: #29343d;
}

#clock {
  margin-left: 0px;
  margin-right: 0px;
}

#battery.charging, #battery.plugged {
  color: #a3b8ef;
}

  #tray {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 0px;
  }


  #battery.discharging {
    color: #b6beca;
  }
@keyframes blink {
    to {
        background-color: #1e222a;
        color: #e06c75;
    }
}

  #custom-bluetooth,
  #network {
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
  }

  #backlight,
  #pulseaudio,
  #custom-bluetooth {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px;
  }

 widget > * {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .modules-left > widget > * {
    margin-left: 12px;
    margin-right: 12px;
  }
  .modules-left > widget:first-child > * {
    margin-left: 25px;
  }
  .modules-left > widget:last-child > * {
    margin-right: 12px;
  }
  .modules-center > widget > * {
    margin-left: 12px;
    margin-right: 12px;
  }
  .modules-right > widget > * {
    padding: 0 12px;
    margin-left: 0;
    margin-right: 0;
  }
  .modules-right > widget:first-child > * {
    border-radius: 5px 0 0 5px;
  }
  .modules-right > widget:last-child > * {
    border-radius: 0 5px 5px 0;
    margin-right: 20px;
  }
  #taskbar button.active {
    border-bottom-color: #3b4b58;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  #taskbar button {
    border-bottom-color: #13171b;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
